/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Itim', cursive;
}

.container {
    min-width: 650px;
    max-width: 1050px;
    margin: 0 auto;
}

.post {
    border: 2px solid rgb(163, 153, 153);
    padding: 20px;
    margin-top: 20px;
}

.post-header{
    display:flex;
    align-items: baseline;
}

.post-content{
    
}

.btn {

    padding: 10px;
    border-radius: 3px;
    border: 2px solid #575151;
    box-shadow: 3px 3px #575151;
    font-family: 'Itim', cursive;
}

.btn-primary {
    background-color: #facc25;
}

.col{
    flex:1;
}

.likes-count{
    margin-right: 20px;
}